:root {
    --primary-color: #917758;
    --secondary-color: #3c2915;
    --primary-color-light: #f5eee6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/**********************
*          HOME
***********************/

.home {
    position: relative;
    background-size: cover;
    background-image: url(../images/bg-home.jpg);
    height: 98vh;   
}

.home .header {
    padding: 30px 0;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;    
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 150px;     
}

.home .header .nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.home .header .nav ul li .logo {
    margin: 0 30px;
}

/**********************
*    HOME - BANNER
***********************/

.home .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 770px;
    margin-left: -385px;
    margin-top: -75px;
    color: #ffffff;
    text-align: center;
}

.home .banner span {
    display: block;
}
.home .banner .slogan01 {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
}

.home .banner h1 {
    font-size: 120px;
}

.home .banner .slogan02 {
    margin-bottom: 15px;
}

/**********************
*      ABOUT
***********************/

.about {
    background-color: var(--primary-color);
}

.about .container {
    display: flex;
}

.about .timing {
    position: relative;
    margin: -50px;
    width: 33%;
    padding: 20px;
    background-image: url(../images/brush-big.jpg);
}

.about .timing .overlay {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 40px 20px;
}

.about .timing .cut-icon {
    width: 50px;
}

.about .timing h3{
    color: var(--primary-color);
    text-transform: uppercase;
    border-bottom: 1px solid var(--primary-color);
    width: fit-content;
    margin: 0 auto;
    font-size: 30px;
}

.about .timing .text {
    margin: 10px 0;
}

.about .timing .text:after {
    content: '•';
    display: block;
    font-size: 25px;
    color: #ffffff;
    margin-top: 10px;
}

.about .timing .text:last-of-type:after {
    content: '|';
}

.about .timing .text h4 {
    color: #808080;
    font-weight: 400;
    font-size: 15px;
}

.about .timing span {
    color: #ffffff;
    font-size: 15px;
    display: block;
}

.about .experience {
    width: 67%;
    color: #ffffff;
    margin-left: 7%;
    margin-top: 100px;
}

.about .experience h2 {
    font-weight: 400;
    font-size: 40px;
}

.about .experience h2:after {
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: #a38f78;
    margin: 20px 0;
}

.about .experience .text {
    display: flex;
    justify-content: space-between;
}

.about .experience .text p {
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 100;
}

/**********************
*      SERVICES
***********************/

.services {
    background-color: var(--primary-color-light);
    padding: 100px 0;
    text-align: center;
}

.services h2 {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 50px;
}

.services .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.services .box {
    border: 3px solid var(--primary-color);
    padding: 50px 40px;
    margin: 30px;
}

.services .box h4 {
    color: var(--secondary-color);
    margin-top: 30px;
}

.services .box p {
    color: var(--secondary-color);
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;
}